<h2>Employment</h2>
<div class="card-container">
    {% for item in site.data.employment %}
    <div class="card {{ item.class }}">
        <div class="icon">
            <img src="{{ item.logo }}">
        </div>
        <div class="info">
            <p class="title">{{ item.role }}</p>
            <p class="location">{{ item.company }}</p>
            <p class="dates">{{ item.dates }}</p>
            <p class="description">{{ item.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
