.card {
    /**
    Global styles and utilities for cards
     */
    @mixin lightText($blow-out: true) {
        color: white;

        @if ($blow-out) {
            img {
                filter: brightness(100);
            }
        }
    }

    @mixin darkText($crush: true) {
        color: #212529;

        @if ($crush) {
            img {
                filter: brightness(0);
            }
        }
    }

    /**
    Work Experience
     */
    &.aws {
        background: #f29e39;
        @include darkText;
    }

    &.hukc {
        background: #07b9e8;
        @include darkText;
    }

    &.mlh {
        //background: #e73427; // Red
        //background: #f8b92a; // Yellow
        //background: #1d539f; // Blue
        background: #ca1508; // Dark red (not an official brand colour but required for legibility)
        @include lightText;
    }

    &.komodo {
        background: black;
        @include lightText;
    }

    /**
    Education
     */
    &.du {
        background: #611c66;
        @include lightText;
    }

    &.aws-cp {
        background: #1d191a;
        @include lightText($blow-out: false);
    }

    &.aws-sa,
    &.aws-dev {
        background: #3d79e3;
        @include lightText($blow-out: false);
    }

    &.hashicorp-terraform {
        /**
        Based on https://drive.google.com/uc?export=download&id=1M91XdVZINeS6K7Ut7958OhhXa0HK3bjr
        from https://www.hashicorp.com/brand
         */
        background: #DDD6FA;

        @include darkText($crush: false);
    }

    &.huk {
        background: #e91e63;
        @include lightText;
    }

    &.dh {
        background: #1a1a1a;
        @include lightText($blow-out: false);
    }

    &.compsoc {
        background: #95c5cd;
        @include darkText($crush: false);
    }
}
